USE [master]
GO
/****** Object:  Database [DataMining_Sample]    Script Date: 2016/4/13 17:53:27 ******/
CREATE DATABASE [DataMining_Sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataMining_Sample', FILENAME = N'G:\PROF\SQL server express 2014\case\MSSQL12.SQLEXPRESS\MSSQL\DATA\DataMining_Sample.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataMining_Sample_log', FILENAME = N'G:\PROF\SQL server express 2014\case\MSSQL12.SQLEXPRESS\MSSQL\DATA\DataMining_Sample_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataMining_Sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataMining_Sample]
GO
/****** Object:  Table [dbo].[AuthorIndex]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorIndex](
	[author] [nvarchar](63) NULL,
	[cnt] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DualAuthors]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DualAuthors](
	[ID] [int] NULL,
	[title] [nvarchar](255) NULL,
	[author1] [nvarchar](63) NULL,
	[rank1] [int] NULL,
	[author2] [nvarchar](63) NULL,
	[rank2] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DualFrequency]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DualFrequency](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[cnt] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FrequentDual]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrequentDual](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[cnt] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FrequentTri]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrequentTri](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[author3] [nvarchar](63) NULL,
	[cnt] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rule12to123]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule12to123](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[author3] [nvarchar](63) NULL,
	[cnt] [float] NULL,
	[scnt] [float] NULL,
	[p(12->123) ] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rule13to123]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule13to123](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[author3] [nvarchar](63) NULL,
	[cnt] [float] NULL,
	[scnt] [float] NULL,
	[p(13->123) ] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rule1to12]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule1to12](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[cnt] [float] NULL,
	[scnt] [float] NULL,
	[p(1->12) ] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rule23to123]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule23to123](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[author3] [nvarchar](63) NULL,
	[cnt] [float] NULL,
	[scnt] [float] NULL,
	[p(23->123) ] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rule2to12]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule2to12](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[cnt] [float] NULL,
	[scnt] [float] NULL,
	[p(2->12) ] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SingleAuthor]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingleAuthor](
	[author] [nvarchar](63) NULL,
	[title] [nvarchar](255) NULL,
	[rank] [int] NULL,
	[ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SingleAuthor2]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingleAuthor2](
	[author] [nvarchar](63) NULL,
	[title] [nvarchar](255) NULL,
	[rank] [int] NULL,
	[ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SouceData]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SouceData](
	[ID] [int] NULL,
	[title] [nvarchar](255) NULL,
	[author] [nvarchar](63) NULL,
	[rank] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TitleIndex]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleIndex](
	[title] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TriAuthors]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriAuthors](
	[ID] [int] NULL,
	[title] [nvarchar](255) NULL,
	[author1] [nvarchar](63) NULL,
	[rank1] [int] NULL,
	[author2] [nvarchar](63) NULL,
	[rank2] [int] NULL,
	[author3] [nvarchar](63) NULL,
	[rank3] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TriFrequency]    Script Date: 2016/4/13 17:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriFrequency](
	[author1] [nvarchar](63) NULL,
	[author2] [nvarchar](63) NULL,
	[author3] [nvarchar](63) NULL,
	[cnt] [float] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[AuthorIndex] ([author], [cnt]) VALUES (N'Alexander Kaplan', 12)
INSERT [dbo].[AuthorIndex] ([author], [cnt]) VALUES (N'Anna Slobodov', 11)
INSERT [dbo].[AuthorIndex] ([author], [cnt]) VALUES (N'Bernard R. Brooks', 3)
INSERT [dbo].[DualAuthors] ([ID], [title], [author1], [rank1], [author2], [rank2]) VALUES (1, N'A Heuristic for (+)-OBDD Minimization', N'Harald Sack', 1, N'Christoph Meinel', 2)
INSERT [dbo].[DualAuthors] ([ID], [title], [author1], [rank1], [author2], [rank2]) VALUES (3, N'A hybrid stochastic genetic-GRASP algorithm for clustering analysis.', N'Nikolaos F. Matsatsinis', 1, N'Constantin Zopounidis', 2)
INSERT [dbo].[DualAuthors] ([ID], [title], [author1], [rank1], [author2], [rank2]) VALUES (3, N'A hybrid stochastic genetic-GRASP algorithm for clustering analysis.', N'Nikolaos F. Matsatsinis', 1, N'Michael Doumpos', 3)
GO
INSERT [dbo].[DualFrequency] ([author1], [author2], [cnt]) VALUES (N'Carsten Damm', N'Alexander Kaplan', 1)
INSERT [dbo].[DualFrequency] ([author1], [author2], [cnt]) VALUES (N'Rainer Tichatschke', N'Alexander Kaplan', 10)
INSERT [dbo].[DualFrequency] ([author1], [author2], [cnt]) VALUES (N'Christoph Meinel', N'Anna Slobodov', 3)
INSERT [dbo].[FrequentDual] ([author1], [author2], [cnt]) VALUES (N'Rainer Tichatschke', N'Alexander Kaplan', 10)
INSERT [dbo].[FrequentDual] ([author1], [author2], [cnt]) VALUES (N'Christoph Meinel', N'Anna Slobodov', 3)
INSERT [dbo].[FrequentDual] ([author1], [author2], [cnt]) VALUES (N'Jordan Gergov', N'Anna Slobodov', 3)
INSERT [dbo].[FrequentTri] ([author1], [author2], [author3], [cnt]) VALUES (N'Frank C. Pickard IV', N'Ye Mei', N'Bernard R. Brooks', 3)
INSERT [dbo].[FrequentTri] ([author1], [author2], [author3], [cnt]) VALUES (N'Jordan Gergov', N'Christoph Meinel', N'Anna Slobodov', 3)
INSERT [dbo].[Rule12to123] ([author1], [author2], [author3], [cnt], [scnt], [p(12->123) ]) VALUES (N'Jordan Gergov', N'Christoph Meinel', N'Anna Slobodov', 3, 3, 1)
INSERT [dbo].[Rule12to123] ([author1], [author2], [author3], [cnt], [scnt], [p(12->123) ]) VALUES (N'Frank C. Pickard IV', N'Ye Mei', N'Bernard R. Brooks', 3, 3, 1)
INSERT [dbo].[Rule13to123] ([author1], [author2], [author3], [cnt], [scnt], [p(13->123) ]) VALUES (N'Jordan Gergov', N'Christoph Meinel', N'Anna Slobodov', 3, 3, 1)
INSERT [dbo].[Rule13to123] ([author1], [author2], [author3], [cnt], [scnt], [p(13->123) ]) VALUES (N'Frank C. Pickard IV', N'Ye Mei', N'Bernard R. Brooks', 3, 3, 1)
INSERT [dbo].[Rule1to12] ([author1], [author2], [cnt], [scnt], [p(1->12) ]) VALUES (N'Anna Slobodov', N'Christoph Meinel', 8, 11, 0.72727272727272729)
INSERT [dbo].[Rule1to12] ([author1], [author2], [cnt], [scnt], [p(1->12) ]) VALUES (N'Frank C. Pickard IV', N'Bernard R. Brooks', 3, 3, 1)
INSERT [dbo].[Rule1to12] ([author1], [author2], [cnt], [scnt], [p(1->12) ]) VALUES (N'Frank C. Pickard IV', N'Ye Mei', 3, 3, 1)
INSERT [dbo].[Rule23to123] ([author1], [author2], [author3], [cnt], [scnt], [p(23->123) ]) VALUES (N'Jordan Gergov', N'Christoph Meinel', N'Anna Slobodov', 3, 3, 1)
INSERT [dbo].[Rule23to123] ([author1], [author2], [author3], [cnt], [scnt], [p(23->123) ]) VALUES (N'Frank C. Pickard IV', N'Ye Mei', N'Bernard R. Brooks', 3, 3, 1)
INSERT [dbo].[Rule2to12] ([author1], [author2], [cnt], [scnt], [p(2->12) ]) VALUES (N'Rainer Tichatschke', N'Alexander Kaplan', 10, 12, 0.83333333333333337)
INSERT [dbo].[Rule2to12] ([author1], [author2], [cnt], [scnt], [p(2->12) ]) VALUES (N'Frank C. Pickard IV', N'Bernard R. Brooks', 3, 3, 1)
INSERT [dbo].[Rule2to12] ([author1], [author2], [cnt], [scnt], [p(2->12) ]) VALUES (N'Ye Mei', N'Bernard R. Brooks', 3, 3, 1)
INSERT [dbo].[SingleAuthor] ([author], [title], [rank], [ID]) VALUES (N'Harald Sack', N'A Heuristic for (+)-OBDD Minimization', 1, 1)
INSERT [dbo].[SingleAuthor] ([author], [title], [rank], [ID]) VALUES (N'Christoph Meinel', N'A Heuristic for (+)-OBDD Minimization', 2, 2)
INSERT [dbo].[SingleAuthor] ([author], [title], [rank], [ID]) VALUES (N'Nikolaos F. Matsatsinis', N'A hybrid stochastic genetic-GRASP algorithm for clustering analysis.', 1, 3)
GO
INSERT [dbo].[SingleAuthor2] ([author], [title], [rank], [ID]) VALUES (N'Harald Sack', N'A Heuristic for (+)-OBDD Minimization', 1, 1)
INSERT [dbo].[SingleAuthor2] ([author], [title], [rank], [ID]) VALUES (N'Christoph Meinel', N'A Heuristic for (+)-OBDD Minimization', 2, 2)
INSERT [dbo].[SingleAuthor2] ([author], [title], [rank], [ID]) VALUES (N'Nikolaos F. Matsatsinis', N'A hybrid stochastic genetic-GRASP algorithm for clustering analysis.', 1, 3)
GO
INSERT [dbo].[SouceData] ([ID], [title], [author], [rank]) VALUES (1, N'A Heuristic for (+)-OBDD Minimization', N'Harald Sack', 1)
INSERT [dbo].[SouceData] ([ID], [title], [author], [rank]) VALUES (2, N'A Heuristic for (+)-OBDD Minimization', N'Christoph Meinel', 2)
INSERT [dbo].[SouceData] ([ID], [title], [author], [rank]) VALUES (3, N'A hybrid stochastic genetic-GRASP algorithm for clustering analysis.', N'Nikolaos F. Matsatsinis', 1)
GO
INSERT [dbo].[TitleIndex] ([title]) VALUES (N'A Branch and Bound Approach for Solving a Class of Generalized Semi-Infinite Programming Problems')
INSERT [dbo].[TitleIndex] ([title]) VALUES (N'A Branch-and-Bound Decomposition Approach for Solving Quasiconvex-Concave Programs')
INSERT [dbo].[TitleIndex] ([title]) VALUES (N'A comparison study of polyominoes explorations in a physical and virtual manipulative environment.')
GO
INSERT [dbo].[TriAuthors] ([ID], [title], [author1], [rank1], [author2], [rank2], [author3], [rank3]) VALUES (3, N'A hybrid stochastic genetic-GRASP algorithm for clustering analysis.', N'Nikolaos F. Matsatsinis', 1, N'Constantin Zopounidis', 2, N'Michael Doumpos', 3)
INSERT [dbo].[TriAuthors] ([ID], [title], [author1], [rank1], [author2], [rank2], [author3], [rank3]) VALUES (34, N'Binary Decision Diagrams and the Multiple Variable Order Problem', N'Harald Sack', 1, N'Anna Slobodov', 2, N'Christoph Meinel', 3)
INSERT [dbo].[TriAuthors] ([ID], [title], [author1], [rank1], [author2], [rank2], [author3], [rank3]) VALUES (61, N'Separating Counting Communication Complexity Classes', N'Rainer Tichatschke', 1, N'Alexander Kaplan', 2, N'Michael Doumpos', 3)
INSERT [dbo].[TriFrequency] ([author1], [author2], [author3], [cnt]) VALUES (N'Alexander Kaplan', N'Christoph Meinel', N'Constantin Zopounidis', 1)
INSERT [dbo].[TriFrequency] ([author1], [author2], [author3], [cnt]) VALUES (N'Alexander Kaplan', N'Christoph Meinel', N'Peter Willett', 1)
INSERT [dbo].[TriFrequency] ([author1], [author2], [author3], [cnt]) VALUES (N'Alexander Kaplan', N'Michael Doumpos', N'Constantin Zopounidis', 1)
USE [master]
GO
